:root {
    /* cor primaria */
    --cor_body: #C9C942;
    /* cor secundaria */
    --cor_fotter_parallax: black;
    /* toda fonte tera essa cor padrão */
    --cor_fonte: white;



    --tamanho_titulos: 2rem;
    --tamanho_titulos_parallax: 4rem;
    --tamanho_paragrafos: 1rem;

}

body {
    
    
    margin: 0 ;
    padding: 0;
    background-color: var(--cor_body);
    color: var(--cor_fonte);
    font-family: sans-serif;
    font-weight: 600;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
}


h1,
h2,
h3,
h4,
h5 {
    font-size: var(--tamanho_titulos_parallax);
    font-weight: 700;
    text-align: center;
    


}


div.paragrafo.parallax {

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    position: relative;
    overflow: hidden;
    
    text-align: justify;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height: 100vh !important;


}

div.paragrafo.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 90%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 90%, #000 100%);
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 90%, #000 100%);
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 90%, #000 100%);
}






div.paragrafo_fundo_transparente {
    
    
    padding: 5% 20%;
    background-color: var(--cor_fotter_parallax);
    font-size: var(--tamanho_paragrafos);
    opacity: 65%;
    
    


}

div.paragrafo.parallax_1 {
    background-image: url("https://i.pinimg.com/originals/49/f4/16/49f416a4d35244412c69cf7113bc27ba.gif");
    
}

div.paragrafo.parallax_2 {
    background-image: url("https://i.pinimg.com/originals/a4/7d/6f/a47d6f4183ca934e43fb8a2ab4387c3c.png");

}

div.paragrafo.parallax_3 {
    background-image: url("https://i.pinimg.com/originals/ac/08/fb/ac08fbee7cb8b38afa9ceeaa0e4dd1c4.gif");

}

div.paragrafo.parallax_4 {
    background-image: url("https://i.pinimg.com/originals/b2/13/65/b21365c035ff1cfa52edc492affa885b.jpg");

}

div.paragrafo.parallax_5 {
    background-image: url("https://i.pinimg.com/originals/d1/e5/93/d1e593b2de680477a9e0048dda331b0b.png");

}

footer {

    padding: 2% 10%;
    text-align-last: center;
}



@media (max-width: 900px) {


    body{
        
        font-weight: 400;
       
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 2rem;
        font-weight: 500;
       
    
    }
    

    div.paragrafo.parallax{
        justify-content: space-around;

    }


    div.paragrafo_fundo_transparente {
        padding: 5%;
      
    }

    .paragrafo{
        padding-bottom: 10%;
     }
}
@media (max-width: 450px) {


    body{
        
        font-weight: 200;
       
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 1rem;
        font-weight: 400;
       
    
    }
    

    div.paragrafo.parallax{
        justify-content: space-around;
        font-size: 1rem;
        

    }


    div.paragrafo_fundo_transparente {
        padding: 5% ;
     
    }

    .paragrafo{
        padding-bottom: 35%;
     }
    
}







/* sera util quando for fazer o paralax do certificado */
/* div.paragrafo p{
    margin-bottom: 40px;
}
div.paragrafo:last-child{
    margin-bottom: 0;
} */
/* div.paragrafo h1{
    font-size: 50px;
} */