:root {
    /* cor primaria */
    --cor_body: #C9C942;
    /* cor secundaria */
    --cor_fotter_parallax: black;
    /* toda fonte tera essa cor padrão */
    --cor_fonte: white;



    --tamanho_titulos: 2rem;
    --tamanho_titulos_parallax: 3rem;
    --tamanho_paragrafos: 1rem;

}

body {
    
    
    margin: 0 ;
    padding: 0;
    background-color: var(--cor_body);
    color: var(--cor_fonte);
    font-family: sans-serif;
    font-weight: 500;
    word-wrap: break-word;
    overflow-wrap: break-word;
}




h1,
h2,
h3,
h4,
h5 {
    font-size: var(--tamanho_titulos_parallax);
    font-weight: 500;
    text-align: center;
  
}

div.paragrafo.parallax {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
    
    
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* height: 100vh !important; */
    


}

div.paragrafo.parallax:after {
    content: "";
    /* altura do sombreamento da imagem de fundo */
    height: 100%;
    width: 100%;
    position: absolute;
    /* z-index: 8; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 90%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 90%, #000 100%);
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 90%, #000 100%);
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 90%, #000 100%);
}






div.paragrafo_fundo_transparente {

    
    padding: 5% 20%;
    background-color: var(--cor_fotter_parallax);
    font-size: var(--tamanho_paragrafos);
    opacity: 65%;
    
    


}

div.paragrafo.parallax_1 {
    background-image: url("https://i.pinimg.com/originals/49/f4/16/49f416a4d35244412c69cf7113bc27ba.gif");
    height: 100vh !important;
}

div.paragrafo.parallax_2 {
    background-image: url("https://i.pinimg.com/originals/a4/7d/6f/a47d6f4183ca934e43fb8a2ab4387c3c.png");
    
}

div.paragrafo.parallax_3 {
    background-image: url("https://i.pinimg.com/originals/d1/e5/93/d1e593b2de680477a9e0048dda331b0b.png");
    
}

div.paragrafo.parallax_4 {
    background-image: url("https://i.pinimg.com/originals/b2/13/65/b21365c035ff1cfa52edc492affa885b.jpg");

}



div.paragrafo.parallax_5 {
    background-image: url("https://i.pinimg.com/originals/ac/08/fb/ac08fbee7cb8b38afa9ceeaa0e4dd1c4.gif");
    height: 100vh !important;
}



.layout_certificados{
  
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
    opacity: 80%;
  
    
}
.layout_certificados_card{
    
   
    background-color: var(--cor_body);
    width: 150px;
    padding: 5%;
    border-radius: 24px;
    text-align: center;
   
}
.layout_certificados_img{
    
    width: 80px;
    height: 80px;
    
}

@media (max-width: 900px) {


    body{
        
        font-weight: 400;
       
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 2rem;
    
    }
   


    div.paragrafo_fundo_transparente {
        padding: 5% 10%;
        
    }

   
}
@media (max-width: 450px) {


  

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 1rem;
        font-weight: 400;
       
    
    }
   


    div.paragrafo_fundo_transparente {
        padding: 5%  10%;
      
    }
    
    
}






